*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(148, 38%, 91%);
    width: 100%;
    min-height: 100vh;
}

div{
    margin-bottom: 15px;
}

label{
    display: block;
    margin-bottom: 10px;
}

label::after{
    content: "*";
    margin-left: 5px;
}

input[type=text], input[type=email]{
    padding: 12px;
    width: 100%;
    border-radius: 7px;
}

textarea{
    padding: 12px;
    border-radius: 7px;
    height: auto;
    width: 100%;
    resize: none;
}

input[type=radio]{
    accent-color: red;
}

input[type=checkbox]{
    margin-right: 8px;
}

.container{
    margin: 16px;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    min-height: 80%;
    width: 600px;
    border-radius: 14px;
}


/* user-info */

.user-info__input{
    width: 100%;
}

.user-info div{
    display: inline;
    float: left;
    width: 48%;
}

.user-info div:first-child{
    margin-right: 4%;
}

/*-------------------------------*/

/*-query-type-*/

.query-type-tittle{
    display: block;
    margin-bottom: 10px;
}

.query-type-box div{
    width: 48%;
    display: inline;
    float: left;
}

.query-type-box div:first-child{
    margin-right: 4%;
}


.query-type-box__label-box{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
}

.query-type-box__label-box span{
    font-size: 1.12rem;
    margin-left: 8px;
}

.query-type-box__label-box::after{
    content: "";
}



/*-----------------------------------*/

/*-communications-agreement-*/
.communications-agreement{
}

.communications-agreement label{
}


.communications-agreement__checkbox{
    /* accent-color: ;  for checkbox color*/
    padding-left: 10px;
}


/*---------------- */


/*-submit-button- */

.submit-button{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    border-style: none;
    padding: 18px;
}


/*---------------- */

/* Media mobile size */

@media all and (max-width:435px){

    .user-info div{
        display: block;
        float: none;
        width: 100%;
    }

    .query-type-box div{
        display: block;
        float: none;
        width: 100%;
    }

}

/*--------------------*/



